build

# python precompilation files
*.pyc
__pycache__

# vim swapfiles
*.swp

# 'temp' directory for local usage
temp

# thirdparty directories
thirdparty/src
thirdparty/bin
thirdparty/lib
thirdparty/include
